In [1]:
import pandas as pd

In [8]:
# analyze data sources (sap)

lineages = pd.read_csv("output-tables-sap/lineages/lineage-B_BillingItem.csv")
nodes = pd.read_csv("output-tables-sap/nodes.csv")

columns = [i for i in lineages.columns]

print(sorted([i for i in nodes.columns]))

['COLOR', 'FILTER', 'FUNCTION', 'ID', 'JOIN_ARG', 'LABEL_NODE', 'NAME_NODE', 'Unnamed: 0']

In [9]:
nodes

,Unnamed: 0,LABEL_NODE,ID,FUNCTION,JOIN_ARG,NAME_NODE,FILTER,COLOR
0,0,BILLING_DOC_HDR,0,DataSources,NaN,BILLING_DOC_HDR,NaN,black
1,1,B_BillingHdr@BillingDocHdr_P,1,ProjectionView,NaN,BillingDocHdr_P,NaN,black
2,2,B_BillingHdr@Semantics,2,Semantics,NaN,Semantics,NaN,black
3,3,BILLING_DOC_ITM,3,DataSources,NaN,BILLING_DOC_ITM,NaN,black
4,4,B_BillingItem@BillingDocItem,4,ProjectionView,NaN,BillingDocItem,NaN,black
...,...,...,...,...,...,...,...,...
301,301,Q_VendorMasterList@Projection_5,301,ProjectionView,NaN,Projection_5,"""SPRAS""='E'",dodgerblue
302,302,Q_VendorMasterList@Join_4,302,JoinView,"{'JoinType': 'leftOuter', 'JoinVariable': 'Ven...",Join_4,NaN,black
303,303,Q_VendorMasterList@Projection_6,303,ProjectionView,NaN,Projection_6,NaN,black
304,304,Q_VendorMasterList@Join_5,304,JoinView,"{'JoinType': 'leftOuter', 'JoinVariable': 'Ven...",Join_5,NaN,black
305,305,Q_VendorMasterList@Semantics,305,Semantics,NaN,Semantics,NaN,black

In [12]:
# analyze data sources (ssis)

lineages = pd.read_csv("output-tables-ssis\lineages\lineage-package.csv")
nodes = pd.read_csv("output-tables-ssis/nodes.csv")
lineages.columns
print(sorted([i for i in nodes.columns]))

['COLOR', 'FILTER', 'FUNCTION', 'ID', 'JOIN_ARG', 'LABEL_NODE', 'NAME_NODE', 'SPLIT_ARG']

In [13]:
nodes

,LABEL_NODE,ID,FUNCTION,JOIN_ARG,SPLIT_ARG,NAME_NODE,FILTER,COLOR
0,User::CurrentDateTime,0,Variable,NaN,NaN,User::CurrentDateTime,NaN,green
1,User::Errors_lookup,1,Variable,NaN,NaN,User::Errors_lookup,NaN,green
2,User::Rows_suppliers,2,Variable,NaN,NaN,User::Rows_suppliers,NaN,green
3,User::SQL_LA_table,3,Variable,NaN,NaN,User::SQL_LA_table,NaN,green
4,Merge and filter@Alter name pref,4,DerivedColumn,NaN,NaN,Alter name pref,NaN,black
5,Merge and filter@Determine rows sup,5,RowCount,NaN,NaN,Determine rows sup,NaN,black
6,Merge and filter@Load supplier,6,SSISODBCSrc,NaN,NaN,Load supplier,NaN,black
7,dbo.Suppliers_Extract,7,DataSources,NaN,NaN,dbo.Suppliers_Extract,NaN,black
8,dbo.Products_Extract,8,DataSources,NaN,NaN,dbo.Products_Extract,NaN,black
9,Merge and filter@Match with products,9,Lookup,SupplierID = SupplierID,NaN,Match with products,NaN,dodgerblue
10,Merge and filter@Split preferences,10,ConditionalSplit,NaN,Discount > 0,Split preferences,NaN,dodgerblue
11,Merge and filter@Union suppliers,11,UnionAll,NaN,NaN,Union suppliers,NaN,black
12,Merge and filter@Write Update sup table,12,SSISODBCDst,NaN,NaN,Write Update sup table,NaN,black
13,dbo.Supp_Prod_output,13,DataSources,NaN,NaN,dbo.Supp_Prod_output,NaN,black

In [14]:
# analyze data sources (sql)

lineages = pd.read_csv("output-tables-sql\lineages\lineage-CUSTOMER_BANK_DETAILS.csv")
nodes = pd.read_csv("output-tables-sql/nodes.csv")
lineages.columns
print(sorted([i for i in nodes.columns]))

['COLOR', 'FILTER', 'FUNCTION', 'ID', 'LABEL_NODE', 'NAME_NODE', 'ON', 'Unnamed: 0']

In [15]:
nodes

,Unnamed: 0,NAME_NODE,LABEL_NODE,FILTER,FUNCTION,ON,COLOR,ID
0,0,subquery_5,json_data0@subquery_5,"EQ(orders.status, 'Completed')",subquery,NaN,grey,0
1,1,orders,orders,NaN,DataSources,NaN,grey,1
2,2,subquery_4,json_data0@subquery_4,NaN,subquery,NaN,grey,2
3,3,reviews,reviews,NaN,DataSources,NaN,grey,3
4,4,subquery_3,json_data0@subquery_3,NaN,subquery,['order_items.product_id = products.product_id...,grey,4
5,5,order_items,order_items,NaN,DataSources,NaN,grey,5
6,6,products,products,NaN,DataSources,NaN,grey,6
7,7,subquery_2,json_data0@subquery_2,NaN,subquery,NaN,grey,7
8,8,payments,payments,NaN,DataSources,NaN,grey,8
9,9,subquery_1,json_data0@subquery_1,"AND(COMPARE(orders.order_date, DATETIME_ADDITI...",subquery,NaN,grey,9
10,10,CUSTOMER_ORDER,CUSTOMER_ORDER,"COMPARE(customers.signup_date, DATETIME_ADDITI...",target,['customers.customer_id = subquery_1.customer_...,grey,10
11,11,customers,customers,NaN,DataSources,NaN,grey,11
12,12,subquery_2,json_data1@subquery_2,"COMPARE(loans.end_date, CURRENT_TIMESTAMP())",subquery,['payments.loan_id = loans.loan_id'],grey,12
13,13,loans,loans,NaN,DataSources,NaN,grey,13
14,14,subquery_1,json_data1@subquery_1,"COMPARE(transactions.transaction_date, DATETIM...",subquery,NaN,grey,14
15,15,transactions,transactions,NaN,DataSources,NaN,grey,15
16,16,CUSTOMER_BANK_DETAILS,CUSTOMER_BANK_DETAILS,"COMPARE(customers.join_date, DATETIME_ADDITION...",target,['customers.customer_id = accounts.customer_id...,grey,16
17,17,accounts,accounts,NaN,DataSources,NaN,grey,17
18,18,subquery_5,json_data2@subquery_5,NaN,subquery,NaN,grey,18
19,19,market_data,market_data,NaN,DataSources,NaN,grey,19
20,20,subquery_4,json_data2@subquery_4,"EQ(market_data.market_date, (subquery_5))",subquery,['trades.stock_id = market_data.stock_id'],grey,20
21,21,trades,trades,NaN,DataSources,NaN,grey,21
22,22,subquery_3,json_data2@subquery_3,"COMPARE(market_data.market_date, DATETIME_ADDI...",subquery,['trades.stock_id = market_data.stock_id'],grey,22
23,23,subquery_2,json_data2@subquery_2,"COMPARE(dividends.dividend_date, DATETIME_ADDI...",subquery,['trades.stock_id = dividends.stock_id'],grey,23
24,24,dividends,dividends,NaN,DataSources,NaN,grey,24
25,25,subquery_1,json_data2@subquery_1,"COMPARE(trades.trade_date, DATETIME_ADDITION('...",subquery,['trades.stock_id = stocks.stock_id'],grey,25
26,26,stocks,stocks,NaN,DataSources,NaN,grey,26
27,27,INVESTOR_OVERVIEW,INVESTOR_OVERVIEW,"EQ(market_data.market_date, INVESTOR_OVERVIEW....",target,['trades.stock_id = market_data.stock_id'],grey,27
28,28,investors,investors,NaN,DataSources,NaN,grey,28
29,29,portfolios,portfolios,NaN,DataSources,NaN,grey,29
30,30,subquery_3,json_data3@subquery_3,NaN,subquery,NaN,grey,30
31,31,subscription_reviews,subscription_reviews,NaN,DataSources,NaN,grey,31
32,32,subquery_2,json_data3@subquery_2,"COMPARE(payments.payment_date, DATETIME_ADDITI...",subquery,NaN,grey,32
33,33,subquery_1,json_data3@subquery_1,NaN,subquery,NaN,grey,33
34,34,CUSTOMER_SUBSCRIPTION_DETAILS,CUSTOMER_SUBSCRIPTION_DETAILS,"COMPARE(customers.signup_date, DATETIME_ADDITI...",target,['customers.customer_id = subscriptions.custom...,grey,34
35,35,subscriptions,subscriptions,NaN,DataSources,NaN,grey,35
36,36,subquery_4,json_data4@subquery_4,NaN,subquery,NaN,grey,36
37,37,deliveries,deliveries,NaN,DataSources,NaN,grey,37
38,38,subquery_3,json_data4@subquery_3,NaN,subquery,NaN,grey,38
39,39,product_reviews,product_reviews,NaN,DataSources,NaN,grey,39
40,40,subquery_2,json_data4@subquery_2,NaN,subquery,['delivery_items.product_id = products.product...,grey,40
41,41,delivery_items,delivery_items,NaN,DataSources,NaN,grey,41
42,42,subquery_1,json_data4@subquery_1,"COMPARE(deliveries.delivery_date, DATETIME_ADD...",subquery,NaN,grey,42
43,43,VENDOR_PERFORMANCE_ANALYSIS,VENDOR_PERFORMANCE_ANALYSIS,"COMPARE(vendors.contract_start_date, DATETIME_...",target,"['vendors.vendor_id = subquery_1.vendor_id', '...",grey,43
44,44,vendors,vendors,NaN,DataSources,NaN,grey,44